.section-title {
	font-size: 3.875rem;
	font-weight: 300;
	text-align: center;

	&__icon {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: .6rem;

		@mixin atSmall {
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;
		}
	}

	strong {
		font-weight: 500;
	}
}